body {
        position: relative;
        width: 100%;
        height: auto;
        min-height: 35rem;
        padding: 15rem 0;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 75%, #000000 100%), url("../assets/img/background.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-size: cover;
        font-family: 'Playfair Display', serif;
}

nav {
    font-family: 'Playfair Display', serif;
}

#h1-id-number, #question, #options{
    font-style: "Varela Round", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    align-self: center;
    color: rgba(255, 255, 255, 0.5);
    
}

#decision-image {
    height: 200px !important;
}

#prize-pick-image {
    height: 350px;
}

#content, #id-number{
    text-align : center;
}

h1 {
    font-family: 'Playfair Display', serif;
}

#submit, #agent-number{
    background-color: black;
    color: rgba(255, 255, 255, 0.5);
    border-radius: 100px;
    font-family: 'Playfair Display', serif;
    padding: 10px;
}

.question-button {
    background-color: black;
    color: rgba(255, 255, 255, 0.5);
    /* border-radius: 100px; */
    font-family: 'Playfair Display', serif;
    padding: 10px;
    margin: 10px;
    font-size: 30px;
}

#question, #options {
    color: rgba(255, 255, 255, 0.5);
    font-family: 'Playfair Display', serif;
    padding: 10px;
    margin: 10px;
    font-size: 30px;
}