.game-image {
    width: 25%;

}

#top-image {
    text-align: center;
    margin-top: -22.5%;
}

.game-button {
    text-align: center;
    border: none;
    width: 10%;
    height: 10%;
    background-color: transparent;
    margin:5%;

}

img {
    width: 75%;
}

#image-options {
    margin : 5%;
}

#game-id {
    text-align: center;
    margin-top:25%;
}